<nav class="navbarMain">
    <div class="logo">
        <img src="" alt="" class="">
    </div>

    <div class="navbar-list">
        <ul>
            <li>Blog</li>
            <li>post</li>
            <li>SignUp</li>
            <li>Login</li>
         </ul>
    </div>
</nav>