<!DOCTYPE html>
<html lang="en">
<%-include('layouts/header.ejs')%>
<body>
    <div class="page-heading">
        <h1>Create New Post:</h1>
        <span class="subheading">Don't be shy, write something new.</span>
    </div>


    <a href="/"   class="btn btn-danger">Log Out</a>

        <form action="/blog/create" method= "POST" >
         
                <input class="form-control" name="title" id="title" type="text" placeholder="Title..."  required/>
                <label for="title">Title</label>

            
                <input class="form-control" name="author" id="author" type="text" placeholder="Author..." required/>
                <label for="author">Author's Name</label>
               
           
                <input class="form-control" name="description" id="description" type="text" placeholder="Enter blog description..." required/>
                <label for="description">Description</label>
               
                
                <textarea class="form-control" name="body" id="body" placeholder="Enter your message here..." style="height: 12rem" ></textarea>
                <label for="message">Body</label>
            </div>
            <br />
            </div>

            <!-- Submit Button-->
            <button type="submit" class="btn btn-primary " id="submitButton" >Send</button>

        </form>
    

</body>
</html>