<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header.ejs') %>
<body>
    <h1> Login to account</h1>
    <form   action="/user/login" method="POST" >
        <label for="description">Email</label>
        <input type="email" placeholder="Enter email" name="email" id="email" required/>
        <label for="description">Password</label>
        <input type="password" placeholder="Enter Password" name="password" id="password" required/>
        <button type="submit"  id="submitButton" >Register</button>
    </form> 
</body>
</html>