<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/register" method="POST">

            <input class="form-control" name="firstName" id="firstName" type="text" placeholder="Enter firstname..." required />
            <label for="title">First Name</label>

 
            <input class="form-control" name="lastName" id="lastName" type="text" placeholder="Enter lastname..." required />
            <label for="author">Last Name</label>
           
      
            <input class="form-control" name="email" id="email" type="email" placeholder="Enter email..." required />
            <label for="description">Email</label>
           
    
            <input class="form-control" name="password" id="password" type="password" placeholder="Enter password..." required />
            <label for="description">Password</label>
        
        <!-- Submit Button-->
        <button type="submit" class="btn btn-primary " id="submitButton" >Register</button>
    </form>
</body>
</html>